<!-- 
<div class="contenedor-padre">
  <mat-toolbar class="barra" >
    <mat-toolbar-row>
      <button (click)="cajon.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>     
      </span>
      <span>
        <a>MENÚ</a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="contenido" style="height: 100vh;width:100vw;" [ngStyle]="{'background': 'url(/assets/imagenes/fondoo.jpg) no-repeat 0 0','background-size':'cover'}" >
    <mat-sidenav class="navegacion"  style="min-width: 250px;" #cajon mode="side" opened >
      <mat-nav-list> 
        <a mat-list-item class="lista1" routerLink="/ejemplo" >
        <span>Regresión Lineal</span>
      </a>
      <a mat-list-item class="lista1" href='#' >
        <span>Regresión Lineal Múltiple</span>
      </a>
        <a mat-list-item class="lista1" href='#' >
          <span>Support Vector Machine</span>
        </a>
        <a mat-list-item class="lista1" href='#'>
          <span>Random Forest</span>
        </a>
        <a mat-list-item class="lista1" href='#'>
          <span>Gradient Boosted Trees</span>
        </a>
        <a mat-list-item class="lista1" href='#'>
          <span>Arboles de decisión</span>
        </a>
        <a mat-list-item class="lista1" href='#'>
          <span>Algoritmo Genético</span>
        </a>
        <a aria-label="Twitter"  href="https://twitter.com" title="Twitter" class="logo">
          <svg style="color: white"  height="80"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 425">
            <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
          </svg>
        </a>
        <a aria-label="Facebook"  href="https://facebook.com" title="Facebook" class="logo">
          <svg style="color: white"  height="60"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
          </svg>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <div class="footer">
      <h5>Copyright &copy; Universidad de Guayaquil - 2022
        <br> Designed by: Lourdes Cortéz & Angel Suárez
      </h5>
    </div>
    </mat-sidenav-container>
</div>
<script>
  function newDoc() {
    window.location.assign("https://www.w3schools.com")
  }
</script> -->
<!-- <a mat-list-item class="lista1" routerLink="./componente/ejemplo" >
  <span>Algoritmos</span>
</a> -->
<router-outlet>
  <!-- <a mat-list-item class="lista1" routerLink="./componente/ejemplo" >
  <span>Algoritmos</span>
</a> -->
</router-outlet>
