<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <mat-toolbar class="fixed-top" id="barra" >
    <mat-toolbar-row>
      <span>     
      </span>
      <span>
        <a>Algoritmos</a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
<h1 id="tit">Algoritmos Lineales</h1>
<div id="conceptos">
  <div id="alg" class="det1">
    <h3 id="ti">Algoritmo de regresión lineal</h3>
    <!-- <iframe width="500" height="315" src="https://www.youtube.com/embed/ptc4Awb0UpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
    
  </div>

  <div id="alg" class="det2">
    <h3 id="ti">Algoritmo de regresión lineal múltiple</h3>
    <!-- <iframe width="500" height="315" src="https://1drv.ms/u/s!Ah-baGhqAvKlgfc7eaaivwg1USPH3Q?e=G49Ut2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
  </div>

  <div id="alg" class="det3">
    <h3 id="ti">Algoritmo de soporte de maquina vector</h3>
    
  </div>

  <div id="alg" class="det4">
    <h3 id="ti">Algoritmo de bosque aleatorio</h3>
   
  </div>

  <div id="alg" class="det5">
    <h3 id="ti">Algoritmo de árboles potenciados por gradiente</h3>
   
  </div>

  <div id="alg" class="det6">
    <h3 id="ti">Algoritmo de árboles de decisión</h3>
    
  </div>

  <div id="alg" class="det7">
    <h3 id="ti">Algoritmo genético</h3>
    
  </div>
</div>

</body>
</html>