<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <mat-toolbar class="fixed-top" id="barra" >
    <mat-toolbar-row>
      <span>     
      </span>
      <span>
        <a>Algoritmos</a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
<h1 id="tit">Algoritmos Lineales</h1>
<div id="conceptos">
  <div id="alg" class="det1">
    <h3 id="ti">Algoritmo de regresión lineal</h3>
    <p>La RL es una técnica estadística que mide la relación entre dos o más variables, donde la variable endógena (dependiente) es predicha a través de un conjunto de variables exógenas (explicativas); asumiendo una relación lineal entre ellas. Este modelo tiene cuatro etapas o pasos metodológicos fundamentales: <br>
      I) identificación; <br>
      II) información primaria y estimación; <br>
      III) verificación, que llega hasta la verificación de los supuestos correspondientes a la regresión.</p>
  </div>

  <div id="alg" class="det2">
    <h3 id="ti">Algoritmo de regresión lineal múltiple</h3>
    <p>Este algoritmo permite generar un modelo lineal en el que el valor de la variable dependiente o respuesta (Y) se determina a partir de un conjunto de variables independientes llamadas predictores (X1, X2, X3…). Los modelos de regresión múltiple pueden emplearse para predecir el valor de la variable dependiente o para evaluar la influencia que tienen los predictores sobre ella. .</p>
  </div>

  <div id="alg" class="det3">
    <h3 id="ti">Algoritmo de soporte de maquina vector</h3>
    <p>El entrenamiento de SVM implica la solución de problemas de optimización cuadrática con restricciones. Originalmente, las SVM determinaba los datos de entrada a una dimensión mayor, y busca un hiperplano que los separe con un margen máximo entre las clases. Existen dos paradigmas fundamentales, clasificación paralela (los algoritmos asumen una ejecución en diferentes procesadores, pero en la misma máquina) y clasificación distribuida (Se intercambian información acerca de los conjuntos de datos locales entre diferentes nodos de una red)..</p>
  </div>

  <div id="alg" class="det4">
    <h3 id="ti">Algoritmo de bosque aleatorio</h3>
    <p>Este algoritmo es una técnica de aprendizaje supervisado que genera múltiples árboles de decisión sobre un conjunto de datos de entrenamiento: los resultados obtenidos se combinan a fin de obtener un modelo único más robusto en comparación con los resultados de cada árbol por separado. Cada árbol se obtiene mediante un proceso de dos etapas: se genera un número considerable de árboles de decisión con el conjunto de datos y cada árbol crece hasta su máxima extensión..</p>
  </div>

  <div id="alg" class="det5">
    <h3 id="ti">Algoritmo de árboles potenciados por gradiente</h3>
    <p>El refuerzo de gradiente es una técnica de aprendizaje automático para problemas de regresión y clasificación, que produce un modelo de predicción en forma de un conjunto de modelos de predicción débiles, normalmente árboles de decisión. Construye el modelo por etapas, al igual que otros métodos de refuerzo, y los generaliza al permitir la optimización de una función de pérdida diferenciable arbitraria. .</p>
  </div>

  <div id="alg" class="det6">
    <h3 id="ti">Algoritmo de árboles de decisión</h3>
    <p>Los árboles de decisión son una potente herramienta para lograr la clasificación y la regresión. Son considerados como métodos de caja blanca, ya que dichos resultados se pueden entender y explicar fácilmente. Estos árboles de decisión tienen, también desventajas como su inestabilidad y su sensibilidad a la rotación de datos. Están compuestos por: Un nodo raíz, que puede ser aleatorio o de decisión, cada nodo (excepto el nodo de utilidad) tiene varios hijos, uno por cada valor de la variable asociada al nodo, etc..</p>
  </div>

  <div id="alg" class="det7">
    <h3 id="ti">Algoritmo genético</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nam, consequuntur nulla atque asperiores voluptas. Neque repudiandae quasi dolores tempora dignissimos deserunt quidem nobis sit nihil, officia quibusdam atque ex.</p>
  </div>
</div>
<div id="btn">
  <a id="boton-ini" mat-list-item class="lista1" routerLink="/componente/ejemplo" >
    <span>Menú de Algoritmos</span>
  </a>
</div>

</body>
</html>

         

  