<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
   
    <title>Algoritmo de Árboles Potenciados por Gradiente</title>
</head>
<body>
    <mat-toolbar class="fixed-top" id="barra" >
        <mat-toolbar-row>
          <span>     
          </span>
          <span>
            <a>Algoritmos Lineales</a>
          </span>
        </mat-toolbar-row>
      </mat-toolbar>
    <div id="conceptos">
      <div id="alg" class="det1">
        <h3 id="ti">Datos generales de la BD</h3> 
        <!-- <iframe src="../hola_mundo.html" frameborder="0" width="600px" height="300px" allowfullscreen="allowfullscreen"></iframe>  -->
      </div>
      <div id="alg" class="det2">
        <h3 id="ti">Demostración del Algoritmo Árboles Potenciados por Gradiente</h3> 
 
      </div>
    </div>
    
    </body>
    </html>
    
             
    
      
